.tag__container__unselected {
    height: 25px;
    font-family: Manrope;
    font-size: 14px;
    color: #8c30f5;
    border: #8c30f5 0.5px solid;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5px 10px;
    margin: 2.5px;
    cursor: pointer;
}

.tag__container__selected {
    height: 25px;
    font-family: Manrope;
    font-size: 14px;
    color: white;
    border: #551e94 0.5px solid;
    background-color: #9741fa;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5px 10px;
    margin: 2.5px;
    cursor: pointer;
}
