.stepper__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 50px;
    margin:0 auto;
}

.currentStep {
    width: 34px;
    height: 8px;
    background-color: #8c30f5;
    border-radius: 20px;
    margin: 10px;
    border: 8px solid #DED3FF;
    cursor: pointer;
}

.notCurrentStep {
    width: 34px;
    height: 8px;
    background: rgb(235, 235, 235);
    border-radius: 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}