.button_dark {
  width: auto;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  background-color: #8c30f5;
  color: #f1e4ff;
  cursor: pointer
}

.button_dark > p{
  margin: 0px 25px;
  color: white;
}

.button_dark:hover {
  background-color: #9741fa;
}

.button_light {
  width: auto;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  background-color: #f1e4ff;
  color: #8c30f5;
  cursor: pointer;
}

.button_light > p{
  margin: 0px 25px;
  color: #8C30F5;
}

.button_light:hover {
  background-color: #ead7fd;
}