.button_dark_small {
  width: fit-content;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  background-color: #8c30f5;
  color: #f1e4ff;
  cursor: pointer
}
.button_disable{
  width: 23%;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52525236;
}

.button_dark_small>p {
  margin: 0px 25px;
  color: white;
}

.button_dark_small:hover {
  background-color: #9741fa;
}

.button_light_small {
  width: fit-content;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  background-color: #f1e4ff;
  color: #8c30f5;
  cursor: pointer;
}

.button_light_small>p {
  margin: 0px 25px;
  color: #8C30F5;
}

.button_light_small:hover {
  background-color: #ead7fd;
}

.button_dark_great {
  width: 100%;
  height: 65px;
  border-radius: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #8c30f5;
  color: #f1e4ff;
  cursor: pointer
}

.button_dark_great>p {
  margin: 0px 25px;
  color: white;
}

.button_dark_great:hover {
  background-color: #9741fa;
}

.button_light_great {
  width: 100%;
  height: 65px;
  border-radius: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f1e4ff;
  color: #8c30f5;
  cursor: pointer;
}

.button_light_great>p {
  margin: 0px 25px;
  color: #8C30F5;
}

.button_light_great:hover {
  background-color: #ead7fd;
}

.button_white_small {
  width: auto;
  height: 40px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid #DFDFDF;
  color: #f1e4ff;
  cursor: pointer
}

.button_white_small>p {
  margin: 0px 25px;
  color: #000000;
}
