.button_dark {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 14px 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #8c30f5;
  color: #f1e4ff;
  cursor: pointer;
}

.button_dark:hover {
  background-color: #9741fa;
}

.button_light {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 14px 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f1e4ff;
  color: #8c30f5;
  cursor: pointer;
}

.button_light:hover{
  background-color: #ead7fd;
}