.swiper__container{
  width:60%;
  height: 600px;
  /* background-color: #DED3FF; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
}
.userCard__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture__container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {

  width: 300px;
  height: 300px;
  min-width:300px;
  min-height: 200px;
  border-radius: 7%;
}

.likeAndDislikeButton_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.profileInfo__nameAndAge {
  margin-left: 10px;
  color:#8c30f5;
  font-weight: bold;
  font-size: 22px;
}

.profileInfo__description {
  margin-left: 10px;
  font-size: medium;
  color: rgba(85, 84, 84, 0.557);
}

.profileInfo__distance {
  margin-left: 10px;
  font-size: small;
  color: rgba(85, 84, 84, 0.557);
}
.tag__container__fromPosibleMatch>span{
  max-width: max-content;
  color: white;
  background-color: #8c30f5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin-bottom: 8px;
}