.swiper__container{
  width:60%;
  height: 600px;
  /* background-color: #DED3FF; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
}
.userCard__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture__container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {

  width: 300px;
  height: 300px;
  min-width:300px;
  min-height: 200px;
  border-radius: 7%;
}

.likeAndDislikeButton_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.profileInfo__nameAndAge {
  margin-left: 10px;
  color:#8c30f5;
  font-weight: bold;
  font-size: 22px;
}

.profileInfo__description {
  margin-left: 10px;
  font-size: medium;
  color: rgba(85, 84, 84, 0.557);
}

.profileInfo__distance {
  margin-left: 10px;
  font-size: small;
  color: rgba(85, 84, 84, 0.557);
}
.tag__container__fromPosibleMatch>span{
  max-width: max-content;
  max-height: max-content;
  color: #8c30f5;
  background-color: #f1e4ff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  margin-bottom: 8px;
  margin-left: 5px;
}
.tag__container__fromPosibleMatch{
  display: flex;
  flex-direction: row;
}
.tagIconFromModal{
  padding-left: 5px;
  padding-right: 5px;
}

.descriptionModal{
  overflow-wrap: anywhere;
  width: 100%;
}


.modal__container{
  width: 85%;
}

.likeImageInvisible{
  width: 225px;
  position: absolute;
  top: 219px;
  display: none;
}
.likeImageVisible{
  width: 225px;
  position: absolute;
  top: 219px;
  display: block;
}
.likeImageVisible img{
  width: 100%;
  height: auto;
}

.dislikeImageInvisible{
  position: absolute;
  top: 219px;
  display: none;
}
.dislikeImageVisible{
  position: absolute;
  top: 219px;
  display: block;
}
.dislikeImageVisible img {
  width: 260px;
}

.active{
  display: block !important;
}