.LoginForm__contanier{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #8c30f5 3px solid;
    border-radius: 30px;
}
.Logo__form{
    margin-top: 30px;
    margin-bottom: 20px;
}
.FormLogin_container{
    width: 100%;
    height: 100%;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Email__container , .Password__container ,.Button__container {
    margin-bottom:30px;
    
}
.input_form{
    width: 50%;
    height: 30px;
    border-radius: 30px;
    border: #8c30f5 1px solid;
    margin-top: 1px;
    
}
::-webkit-input-placeholder {
    text-align: center;
  }
.label_form{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
.Button__container{
    margin: 20px;
}