.page__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image_container{
    width: 60%;
    height: 1037px;
    background-color:#FAF5FF;
    justify-content: center;
    align-items: center;
}
.form_block_container{
    width: 40%;
    height: 1037px;
    background-color:white; 
}
.image_boy{
    width: 531px;
    height: 354px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 339px;
    
}