
.userProfile__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_editProfile{
    color:#8c30f5;
}
 .currentInfo_container{
    width: 65%;
    background-color:#fff;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: space-around;
    border-radius: 30px;
}
.nonTouchableInfo_section{
    width: 35%;
}

.currentTouchableAgeRange_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.unchangeable_section{ 
    padding: 10px;
    color: #000;
    font-size: 20px;
    /* font-weight: bold; */
    background-color: #fff;
    justify-content: center;
    border-radius: 30px;
    line-height: 25px;
}
.age_section{
    width:100%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
}

.ageRange_container{
    color: #8c30f5;
    font-size: 20px;
    font-weight: bold;
}

.ageRange_title b{
    color:#8c30f5;
}

.ageRange_title{
    color:#000;
    font-size: 20px;
}
.ageRange_container>span{
    width: 200%;
    background-color: #DED3FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 15px;
    padding: 15px;
}
.hobbies_section{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 20px;
}

.hobbies_section>p{
 color: #000;
 font-size:20px;
}

.hobbies_section b{
    color: #8c30f5;
}

.tag_profile_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.description_section{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
}

.description_section span {
    color: #8c30f5;
    font-size: 20px;
    font-weight: bold;
}


.description_section p {
    color: #000;
    font-size: 15px;    
}

.unchangeable_section b {
    color: #9260f5;
}

.newInfoTitle {
    color:  #8c30f5;
    font-size: 20px;
    font-weight: bold;
}

textarea.textarea_container {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    background-color: #EFF0F6;
    border: #EFF0F6 1px solid;
    font-family: Manrope;
    font-size: 18px;
}

.button_update{
    margin-top: 20px;
}
/*
.touchableInfo_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Manrope;
}
.touchableInfo_section>p{ 
    width: 100%;
    padding: 10px;
    color:#DED3FF;
    font-size: 15px;
    font-weight: bold;
    background-color: #8c30f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.currentTouchableAgeRange_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.currentTouchableAgeRange_container>p{
    width: 20%;
    padding: 10px;
    color:#DED3FF;
    font-size: 15px;
    font-weight: bold;
    background-color: #8c30f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: -10px;
}

.newTouchableInfo_container{
    width: 45%;
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.newInfoTitle{
    width: 100%;
    color: #8c30f5;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;    
}
.button_update{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.tag_profile_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}
.textarea_container{
    width: 80%;
    border-radius: 10px;
    border: #EFF0F6 1px solid;
    background-color: #EFF0F6;
    margin-bottom: 20px;
    padding: 20px;
    color: #6b6b6b;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
}
.buble_profile{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99px;
    height: 40px;
    background-color: #8c30f5;
    color: #ded3ff;
    border-radius: 40px;
} */


.Profile_picture_form{
    width: 800px;
    height: 800px;
}