.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.modal__main {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: white;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding-bottom: 50px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal__content {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Manrope;
}