.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
}

.form__container {
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sideform__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideform__subcontainer{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.form__logo__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: -100px;
}

.form__logo {
    margin: 25px
}

.form__span{
    color: rgb(114, 114, 114);
}

.form__title {
    margin: 25px
}

.form_label {
    width: 50%;
    margin-bottom: 10px;
    font-size: 15px;
    margin: 10px;
}

.form__input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: #EFF0F6 1px solid;
    background-color: #EFF0F6;
    margin-bottom: 30px;
    padding: 20px 0px;
    color: #6b6b6b;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
}

::placeholder{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    margin-left: 20px;
    color: #A0A3BD;
    
    
}


.form_tags {
    max-width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0px 50px 0px;
}

.form_radio {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_slider {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.color_span{
  color: #8c30f5;
  cursor: pointer;
}

 .form__action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__slider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #8c30f5;
    display: flex;
    flex-direction: column;
}

.form__photos {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: space-between;
    justify-content: center;
} 
 .form__tags {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px 0px 50px 0px;
}