.colorPurple{
    color: #8c30f5;
    cursor: pointer;
}
.signupAdnsLogin_form{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    font-feature-settings: 'liga' off;
    color: #A0A3BD;
    margin-top: 32px;
}
.distance_container{
    color: #2A00A2;
    background: #DED3FF;
    border-radius: 16px;
    width: 138px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    font-family: Manrope;
    margin-left: auto;
}
.kilometers{
    font-weight:bold;
}
.form {
    width: 45%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.h1_container{
    z-index: 1;
    width: 150%;
    font-size: 20px;
}
.form__container {
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sideform__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideform__subcontainer{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.form__logo__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: -100px;
}

.form__logo {
    margin: 25px
}

.form__span{
    color: rgb(114, 114, 114);
}

.form__title {
    margin: 25px
}

.form_label {
    width: 50%;
    margin-bottom: 10px;
    font-size: 15px;
    margin: 10px;
}

.form__input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: #EFF0F6 1px solid;
    background-color: #EFF0F6;
    margin-bottom: 30px;
    padding: 20px 0px;
    color: #6b6b6b;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
}

.form__text {
    width: 100%;
    border-radius: 10px;
    border: #EFF0F6 1px solid;
    background-color: #EFF0F6;
    margin-bottom: 20px;
    padding: 20px;
    color: #6b6b6b;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
}

.form__tags {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px 0px 50px 0px;
}

.form__radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button__container {
    width: 100%;
    display: flex;
    text-align: right;
    margin-top: 10%;
    justify-content : flex-end;
}

.form__action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__slider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #8c30f5;
    display: flex;
    flex-direction: column;
}
/*double slider */ 
.slider__container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.value{
    width: 100%;
    display: flex;
    justify-content: center;  
}
.form_slider_age {
    width: 50%;
}
.buble {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99px;
    height: 40px;
    background-color: #ded3ff;
    color: #8c30f5;
    border-radius: 40px;
  }
  input[type="range"] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 12px;
    cursor: pointer;
    background: #8c30f5;
  }
  input[type="range"]::-webkit-slider-thumb {
    border: 3px solid #8c30f5;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
/* double slider */  
.form__photos {
    width: 120%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: space-between;
    justify-content: left;
    columns: 2;
    column-gap: 38px;
    z-index: 1;
}
/*icons sections*/
.form__radio input {
    -webkit-appearance:none;
    
} 
.form__radio input[type="radio"]:checked + label {
    background-color:#ded3ff;
    color: #8c30f5;

}
label {
    font-family: sans-serif, Arial;
    font-size: 16px;
    padding: 15px 15px 15px 15px;
    border-radius: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.iconGender{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/*hetero icon*/
.iconHeteroM, .iconHeteroF{
    position: absolute;
}
.iconHeteroM{
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.iconHeteroF{
    position: relative;
    z-index: 2;
    left:-28px;
    top:-12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/*homo icon*/
.iconHomoFa, .iconHomoFb{
    position: absolute;
}
.iconHomoFa{
    position: relative;
    z-index: 1;
    left: 33px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.iconHomoFb{
    position: relative;
    z-index: 2;
    left:2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.iconHomoMa, .iconHomoMb{
    position: absolute;
}
.iconHomoMa{
    position: relative;
    z-index: 1;
    left:10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.iconHomoMb{
    position: relative;
    z-index: 2;
    left:-22px;
    height: 40px;
    cursor: pointer;
}
.genderSection{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.genderEspecificSection{
    width: 33,33%;
}
.orientationOption{
    width: 33%;
}
span.errorInvisible{
    display:none;
}
span.errorVisible{
    color:red;
    position: relative;
    top: -25px;
    left: 3px;
    z-index: 2;
}
input.errorInvisible{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: #EFF0F6 1px solid;
    background-color: #EFF0F6;
    margin-bottom: 30px;
    padding: 20px 0px;
    color: #6B6B6B;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
}
input.errorVisible{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border:red 2px solid;
    background-color: #EFF0F6;
    margin-bottom: 30px;
    padding: 20px 0px;
    color: #6B6B6B;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
}
.youMustBeText{
    color:red;
    position: relative;
    top: -25px;
    left: 3px;
    z-index: 2;
}
textarea.errorInvisible {
    width: 100%;
    border-radius: 10px;
    border: #EFF0F6 1px solid;
    background-color: #EFF0F6;
    margin-bottom: 20px;
    padding: 20px;
    color: #6b6b6b;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    }

textarea.errorVisible{
    width: 100%;
    border-radius: 10px;
    border: red 2px solid;
    background-color: #EFF0F6;
    margin-bottom: 20px;
    padding: 20px;
    color: #6b6b6b;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;

}
#textAreaError{
    margin-top: 2.5%;
}
#orientationError{
    margin-top: 2.5%;
    color: red
}
#genderError{
    margin-top: 2.5%;
    color : red;
    margin-right: 2.5%;
}

